<section>
  <div ng-show="profile._id">
    <div class="row">
      <div class="col-md-12">
        <h1><span ng-bind="profile.username"></span> </h1><span class="label label-danger" ng-show="profile.roles.indexOf('admin') !== -1" tooltip="This user is a member of the website staff and can make edits to the pronoun list.">Admin</span>
      </div>
    </div>
    <span ng-hide="user._id === profile._id">
          <a class="btn btn-info pull-right" ng-click="addFollowing();" ng-show="user.following.indexOf(profile._id) === -1">Follow</a>
          <a class="btn btn-danger pull-right" ng-click="removeFollowing();" ng-show="user.following.indexOf(profile._id) > -1">Unfollow</a>
      <br>
      </span>
    <div class="row">
      <div class="col-md-12">
        <tabset active="active">
          <tab index="0" heading="Pronouns">
              <br>
              <div class="list-group">
                <div ng-show="!profile.pronouns.length" class="list-group-item">
                  <h4 class="list-group-item-heading text-muted" tooltip-placement="bottom" tooltip="This user has not set any pronouns">Pronouns not set</h4>
                </div>
                <div class="row">
                  <div ng-repeat="pronoun in profile.pronouns" ui-sref="pronouns.view({pronounId: pronoun._id})" class="col-md-6 col-sm-12">
                    <div class="panel panel-default" ng-class="{'panel-primary': user.pronouns.indexOf(pronoun._id) > -1}" style="padding: 5px">
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-sm-10 col-xs-12">
                            <a ui-sref="pronouns.view({pronounId: pronoun._id})"><h4 class="list-group-item-heading titleOnPhone" ng-bind="pronoun.pattern" ng-hide="!!pronoun.title"></h4><h4 class="list-group-item-heading titleOnPhone" ng-bind="pronoun.title"></h4></a>
                            <small class="list-group-item-heading" ng-bind="pronoun.pattern" ng-show="!!pronoun.title"></small>
                          </div>
                          <div class="col-sm-2 col-xs-12" ng-show="user.roles.indexOf('admin') > -1">
                            <div class="pull-right hideOnPhone">
                              <span class="label label-default" ng-show="pronoun.pronounType == 'X'" tooltip="This pronoun has a list of grammatical pronouns allowing it to be parsed by a computer.">S</span>
                              <span class="label label-default" ng-show="pronoun.pronounType == 'M'" tooltip="This pronoun only contains a title and a description.">NS</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </tab>
          <tab index="1" heading="Names">
            <br>
            <div class="list-group">
              <div ng-show="!user.names.length" class="list-group-item">
                <div ng-show="profile.displayName">
                  <h4>{{profile.displayName}}</h4>
                </div>
                <div ng-hide="profile.displayName">
                  <h5 class="list-group-item-heading text-muted">This user hasn't posted any names.</h5>
                </div>
              </div>
              <div ng-repeat="name in user.names" class="list-group-item">
                <div class="row">
                  <div class="col-sm-10 col-xs-12">
                    <h5>{{name}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab index="2" heading="Relations">
            <div class="row">
              <div class="col-md-4 col-sm-12">
                <h2>Friends</h2>
                <p ng-show="!profile.friends.length">This user doesn't have any friends yet.</p>
                <div class="list-group">
                  <div ng-repeat="friend in profile.friends | limitTo:limits.friends" class="list-group-item" ui-sref="profile({username: friend.username})">
                    <span class="list-group-item-heading" ng-bind="friend.displayName"></span>
                  </div>
                  <a ng-show="profile.friends.length > limits.friends" ng-click="loadMore('friends')">Load more...</a>
                </div>
              </div>
              <div class="col-md-4 col-sm-12" >
                <h2>Following</h2>
                <p ng-show="!profile.following.length">This user isn't following anyone.</p>
                <div class="list-group">
                  <div ng-repeat="followed in profile.following | limitTo:limits.following" class="list-group-item" ui-sref="profile({username: followed.username})">
                    <span class="list-group-item-heading" ng-bind="followed.displayName"></span>
                  </div>
                  <a ng-show="profile.following.length > limits.following" ng-click="loadMore('following')">Load more...</a>
                </div>
              </div>
              <div class="col-md-4 col-sm-12">
                <h2>Followers</h2>
                <p ng-show="!profile.followers.length">This user doesn't have any followers.</p>
                <div class="list-group">
                  <div ng-repeat="follower in profile.followers | limitTo:limits.followers" class="list-group-item" ui-sref="profile({username: follower.username})">
                    <span class="list-group-item-heading" ng-bind="follower.displayName"></span>
                  </div>
                  <a ng-show="profile.followers.length > limits.followers" ng-click="loadMore('followers')">Load more...</a>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  <div ng-show="!profile._id && !!profile.$resolved">
    <br>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <div class="panel-title">User not found</div>
      </div>
      <div class="panel-body">
        This user does not exist.
      </div>
    </div>
  </div>
  <div ng-show="!profile.$resolved">
    <br>
    <div class="sk-wave">
      <div class="sk-rect sk-rect1"></div>
      <div class="sk-rect sk-rect2"></div>
      <div class="sk-rect sk-rect3"></div>
      <div class="sk-rect sk-rect4"></div>
      <div class="sk-rect sk-rect5"></div>
    </div>
  </div>
</section>
