<section>
  <div class="page-header">
    <h1 ng-bind="profile.displayName"></h1>
  </div>
  <div class="row">
    <div class="list-group">
      <div ng-show="!profile.pronouns.length" class="list-group-item" >
        <h4 class="list-group-item-heading"><i>No pronouns</i></h4>
      </div>
      <a ng-repeat="pronoun in profile.pronouns" ui-sref="pronouns.view({pronounId: pronoun._id})" class="list-group-item">
        <h4 class="list-group-item-heading" ng-bind="pronoun.pattern"></h4>
      </a>
    </div>
  </div>
</section>
