<section ng-controller="HomeController">
  <div ng-hide="!!authentication.user">
    <div class="bg"></div>
    <div class="jumbotron">
      <h1>Pronouny</h1>
      <p class="lead"><b>Share your personal pronouns and stay updated on your friends' pronouns.</b></p>
      <a class="btn btn-lg btn-primary" ui-sref="authentication.signup" href="/authentication/signup">Sign Up</a>
      <a class="btn btn-lg btn-success" ui-sref="authentication.signin" href="/authentication/signin">Sign In</a>
    </div>

    <div class="container">
      <div class="row">
        <h2>Pronouns</h2>
        <blockquote>
          Pronouns are a part of language used to refer to someone or something without using proper nouns. In standard
          English, some singular third-person pronouns are "he" and "she," which are usually seen as gender-specific
          pronouns, referring to a man and a woman, respectively. A gender-neutral pronoun or gender-inclusive pronoun
          is one that gives no implications about gender, and could be used for someone of any gender. Some languages
          only have gender-neutral pronouns, whereas other languages have difficulty establishing any that aren't
          gender-specific. People with non-binary gender identities often choose new third-person pronouns for
          themselves as part of their transition.
        </blockquote>
        Read more on the <a href="https://nonbinary.miraheze.org/wiki/Pronouns" target="_blank">Nonbinary wiki</a>.
        <hr>
        <div>
          <h2>Example Pronouns</h2>
          <p>Here are some examples of pronouns you could select on Pronouny. You can also see the <a ui-sref="pronouns.list.all({})">full list</a>.</p> <br>
          <div ng-repeat="randomPronoun in randomPronouns" ui-sref="pronouns.view({pronounId: randomPronoun._id})" class="col-md-12">
            <div class="panel panel-default" style="padding: 5px">
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-10 col-xs-12">
                    <a ui-sref="pronouns.view({pronounId: randomPronoun._id})"><h4 class="list-group-item-heading titleOnPhone" ng-bind="randomPronoun.pattern" ng-hide="!!randomPronoun.title"></h4><h4 class="list-group-item-heading titleOnPhone" ng-bind="randomPronoun.title"></h4></a>
                    <small class="list-group-item-heading" ng-bind="randomPronoun.pattern" ng-show="!!randomPronoun.title"></small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
          <h2>Supporting Pronouny</h2>
          <p>Pronouny is free software that doesn't use ads or have any sort of revenue. There are a few ways you can
            make sure it stays alive keeps getting better.</p>
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <h3>Suggesting features and reporting bugs</h3>
                <p>You can suggest new features or report issues <a href="https://github.com/pronouns/main/issues">on
                  GitHub</a>. Feel free to suggest or comment on anything, feedback is great. Accessibility issues will
                  be prioritized.</p>
              </div>
              <div class="col-md-4">
                <h3>Contributing code</h3>
                <p>If you know Javascript and have used Angular.JS before, you could probably help Pronouny out. The
                  code is all <a href="https://github.com/pronouns/main">open source</a> and pull requests are
                  encouraged.</p>
              </div>
              <div class="col-md-4">
                <h3>Donating money</h3>
                <p>You can donate to <a href="https://paypal.me/falkirks">falkirks on Paypal</a>. Put "Pronouny" in the
                  note and the money will be allocated directly back to maintaining this service.</p>
              </div>

            </div>
        </div>
      </div>

      <hr>

      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center"><p>Cats are cute. Enbies are awesome.</p></div>
        </div>
      </div>
      <script>
        var jumboHeight = $('.jumbotron').outerHeight();

        function parallax() {
          var scrolled = $(window).scrollTop();
          $('.bg').css('height', (jumboHeight - scrolled) + 'px');
        }

        $(window).scroll(function (e) {
          parallax();
        });
      </script>
    </div>
  </div>
  <div ng-show=" authentication.user">
    <div class="well" style="margin-top: 20px; text-align:center;">
      <p>You can share your pronouns, names, and nouns using your profile link.</p>
      <h4><code>https://pronouny.xyz/u/{{user.username}}</code></h4>
      <a class="btn btn-primary btn-sm" aria-label="Share your profile link on Facebook" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//pronouny.xyz/u/{{user.username}}" target="_blank">Share on Facebook</a>
      <a class="btn btn-info btn-sm" aria-label="Share your profile link on Twitter" href="https://twitter.com/home?status=https%3A//pronouny.xyz/u/{{user.username}}" target="_blank">Share on Twitter</a>
    </div>
    <br>
    <div class="row">
      <div class="col-md-10">
        <input type="text" ng-model="selectedUser" placeholder="Search for a user" aria-label="Search for a user to follow" role="combobox" typeahead="user as user.username for user in getUsers($viewValue)" typeahead-loading="loadingUsers" typeahead-no-results="noResults" typeahead-editable="false" typeahead-show-hint="true" class="form-control">
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary" ng-class="{disabled: selectedUser === undefined}" style="width: 100%;" ng-click="addFollowing()">Follow</button>
      </div>
    </div>
    <br>
    <div ng-show="!following.length && !user.following.length">
      <div class="alert alert-warning">
        <p>You haven't followed anyone yet, so there is nothing to put here. Here is a cat picture instead! If you are having trouble getting started, we have a <a ui-sref="welcome()" href="">checklist for new users</a>.</p>
      </div>
      <img ng-src="{{(!following.length && !user.following.length && authentication.user) && 'http://thecatapi.com/api/images/get?size=med&type=png,jpg' || ''}}" class="img-responsive" alt="Random cat image"/>
    </div>
    <div class="sk-wave" ng-show="!following.length && !!user.following.length">
      <div class="sk-rect sk-rect1"></div>
      <div class="sk-rect sk-rect2"></div>
      <div class="sk-rect sk-rect3"></div>
      <div class="sk-rect sk-rect4"></div>
      <div class="sk-rect sk-rect5"></div>
    </div>
    <div class="row" aria-busy="{{!following.length && !!user.following.length}}">
      <div class="col-md-12" ng-repeat="followed in following">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a ui-sref="profile({username: followed.username})"><h3 class="panel-title"
                                                                    ng-bind="followed.username"></h3></a>
          </div>
          <div class="panel-body">
            <div class="list-group">
              <div ng-show="!followed.pronouns.length" class="list-group-item">
                <h4 class="list-group-item-heading text-muted" tooltip-placement="bottom"
                    tooltip="This user has not set any pronouns">Pronouns not set</h4>
              </div>
              <div ng-repeat="pronoun in followed.pronouns" ui-sref="pronouns.view({pronounId: pronoun._id})"
                   class="list-group-item">
                <div class="row">
                  <div class="col-sm-10 col-xs-12">
                    <a ui-sref="pronouns.view({pronounId: pronoun._id})"><h4
                      class="list-group-item-heading titleOnPhone" ng-bind="pronoun.pattern"
                      ng-hide="!!pronoun.title"></h4><h4 class="list-group-item-heading titleOnPhone"
                                                         ng-bind="pronoun.title"></h4></a>
                    <small class="list-group-item-heading" ng-bind="pronoun.pattern" ng-show="!!pronoun.title"></small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
