<section ng-controller="HomeController">
  <div ng-hide="authentication.user">
    <div class="page-header"><h1>Pronouny</h1></div>
    <p class="lead">Share your personal pronouns and stay updated on your friends' pronouns. Pronouny allows you to update your pronouns and send alerts to your friends.</p>
    <br>
    <a class="btn btn-lg btn-info" ui-sref="authentication.signup">Sign Up</a>
    <a class="btn btn-lg" ui-sref="authentication.signin">Sign In</a>

  </div>
  <div ng-show="authentication.user">
    <br>
    <div class="alert alert-warning" ng-show="!friends.length && !user.friends.length">
      <p>You are <b>really</b> cool. You also haven't added any friends yet, so if you want to do that, you can go to a user's profile and click "Add friend".</p>
    </div>
    <div class="sk-wave" ng-show="!friends.length && !!user.friends.length">
      <div class="sk-rect sk-rect1"></div>
      <div class="sk-rect sk-rect2"></div>
      <div class="sk-rect sk-rect3"></div>
      <div class="sk-rect sk-rect4"></div>
      <div class="sk-rect sk-rect5"></div>
    </div>
    <div class="panel panel-default" ng-repeat="friend in friends">
      <div class="panel-heading">
        <a ui-sref="profile({username: friend.username})"><h3 class="panel-title" ng-bind="friend.displayName"></h3></a>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <div ng-show="!friend.pronouns.length" class="list-group-item" >
            <h4 class="list-group-item-heading text-muted" tooltip-placement="bottom" tooltip="This user has not set any pronouns">Pronouns not set</h4>
          </div>
          <div ng-repeat="pronoun in friend.pronouns" ui-sref="pronouns.view({pronounId: pronoun._id})" class="list-group-item">
              <div class="row">
                <div class="col-sm-10 col-xs-12">
                  <a ui-sref="pronouns.view({pronounId: pronoun._id})"><h4 class="list-group-item-heading titleOnPhone" ng-bind="pronoun.pattern" ng-hide="!!pronoun.title"></h4><h4 class="list-group-item-heading titleOnPhone" ng-bind="pronoun.title"></h4></a>
                  <small class="list-group-item-heading" ng-bind="pronoun.pattern" ng-show="!!pronoun.title"></small>
                </div>
                <div class="col-sm-2 col-xs-12">
                  <div class="pull-right hideOnPhone">
                    <span class="label label-default" ng-show="pronoun.listed" tooltip="This pronoun is listed on the public pronoun list and can be used by anyone.">P</span>
                    <span class="label label-default" ng-show="!pronoun.listed" tooltip="This pronoun is unlisted and can only be used by the user who created it.">U</span>
                    <span class="label label-default" ng-show="pronoun.pronounType == 'X'" tooltip="This pronoun has a list of grammatical pronouns allowing it to be parsed by a computer.">S</span>
                    <span class="label label-default" ng-show="pronoun.pronounType == 'M'" tooltip="This pronoun only contains a title and a description.">NS</span>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
