<section ng-controller="CreatePronounController">
  <div class="page-header">
    <h1>New Pronoun</h1>
  </div>
  <div class="col-md-12">
    <form name="pronounForm" class="form-horizontal" ng-submit="submit(pronounForm.$valid)" novalidate>
      <fieldset>
        <tabset active="active">
          <tab index="0" heading="Standard" select="setType('X')">
            <br>
            <div class="form-group" show-errors>
              <label for="subject">Subject Pronoun</label>
              <input name="subject" type="text" ng-model="pronoun.subject" id="subject" class="form-control" placeholder="they">

              <div ng-messages="pronounForm.subject.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Subject Pronoun is required.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label for="object">Object Pronoun</label>
              <input name="object" type="text" ng-model="pronoun.object" id="object" class="form-control" placeholder="them">

              <div ng-messages="pronounForm.object.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Object Pronoun is required.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label for="determiner">Possessive Determiner</label>
              <input name="determiner" type="text" ng-model="pronoun.determiner" id="determiner" class="form-control"
                     placeholder="their">

              <div ng-messages="pronounForm.determiner.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Possessive Determiner is required.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label for="possessive">Possessive Pronoun</label>
              <input name="possessive" type="text" ng-model="pronoun.possessive" id="possessive" class="form-control"
                     placeholder="theirs">

              <div ng-messages="pronounForm.possessive.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Possessive Pronoun is required.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label for="reflexive">Reflexive Pronoun</label>
              <input name="reflexive" type="text" ng-model="pronoun.reflexive" id="reflexive" class="form-control"
                     placeholder="themself">

              <div ng-messages="pronounForm.reflexive.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Reflexive Pronoun is required.</p>
              </div>
            </div>
          </tab>
          <tab index="1" heading="Non-standard" select="setType('M')">
            <br>
            <div class="form-group" show-errors>
              <label for="title">Title</label>
              <input name="title" type="text" ng-model="pronoun.title" id="title" class="form-control" placeholder="">

              <div ng-messages="pronounForm.title.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Title is required.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label for="content">Content</label>
              <textarea name="content" ng-model="pronoun.content" id="content" class="form-control" cols="30" rows="10"
                        placeholder="Content"></textarea>

              <div ng-messages="pronounForm.content.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Content is required.</p>
              </div>
            </div>
          </tab>
        </tabset>
        <div class="form-group" ng-hide="pronounType == 'M' && user.roles.indexOf('admin') === -1">
          <label for="listed">Listed</label>
          <input name="listed" type="checkbox" id="listed" ng-model="pronoun.listed" class="form-control">
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
