<section ng-controller="PronounListController" ng-init="find()">
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Pronouns</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <div class="list-group">
    <a ui-sref="pronouns.view({pronounId: pronoun._id})" ng-repeat="pronoun in pagedItems" class="list-group-item">
      <!--<small class="list-group-item-text">
        Created on
        <span ng-bind="pronoun.created | date:'mediumDate'"></span>
        by
        <a ng-bind="pronoun.user.displayName" ui-sref="profile({username: pronoun.user.username})"></a>
      </small>-->
      <h4 class="list-group-item-heading" ng-bind="pronoun.pattern"></h4>
    </a>
  </div>

  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</section>
