<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-6">
        <h1 ng-bind="user.username"></h1> <a ui-sref="profile({username: user.username})">View profile</a>
      </div>
      <div class="col-md-4">
        <a class="btn btn-primary" ui-sref="admin.user-edit({userId: user._id})">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" ng-click="remove();" ng-if="user._id !== authentication.user._id">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"><strong>Name</strong></div>
        <div class="col-md-6" ng-bind="user.displayName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Email</strong></div>
        <div class="col-md-6" ng-bind="user.email"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Provider</strong></div>
        <div class="col-md-6" ng-bind="user.provider"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Created</strong></div>
        <div class="col-md-6" ng-bind="user.created"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Roles</strong></div>
        <div class="col-md-6" ng-bind="user.roles"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Pronouns</strong></div>
        <div class="col-md-6">
          <ul ng-repeat="pronoun in user.pronouns">
            <li><a ui-sref="pronouns.view({pronounId: pronoun._id})"><span ng-show="pronoun.pronounType === 'X'" ng-bind="pronoun.pattern"></span><span ng-show="pronoun.pronounType === 'M'" ng-bind="pronoun.title"></span></a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>
