<section class="row" ng-controller="UpdatePronounsController">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-12">
    <div class="panel panel-default" ng-show="user.canSendAlert">
      <div class="panel-heading">
        <h3 class="panel-title">Send an update <span class="label label-danger">beta</span></h3>
      </div>
      <div class="panel-body">
        <p>You can send an alert to all your friends to make them aware of updates to your pronouns. Alerts will be dispatched instantly over Facebook, Pushbullet, and email based on your friends configuration.</p>
        <button class="btn btn-info" ng-click="sendAlerts();">Send alerts</button>
        <span ng-bind="error.alert"></span>
      </div>
    </div>
    <div ng-show="!pronouns.length && !user.pronouns.length" class="panel">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">You haven't added any pronouns</h3>
        </div>
        <div class="panel-body">
          <p>You haven't added any pronouns to your profile.</p>
        </div>
      </div>
    </div>
    <div class="sk-wave" ng-show="!pronouns.length && !!user.pronouns.length">
      <div class="sk-rect sk-rect1"></div>
      <div class="sk-rect sk-rect2"></div>
      <div class="sk-rect sk-rect3"></div>
      <div class="sk-rect sk-rect4"></div>
      <div class="sk-rect sk-rect5"></div>
    </div>

    <div class="list-group" ui-sortable="sortableOptions" ng-model="pronouns">
      <div ng-repeat="pronoun in pronouns" class="list-group-item">
        <div class="pull-right">
          <span class="label label-default" ng-show="pronoun.listed" tooltip="This pronoun is listed on the public pronoun list and can be used by anyone.">P</span>
          <span class="label label-default" ng-show="!pronoun.listed" tooltip="This pronoun was created by you and can only be used by you. You can make edits to it.">U</span>
          <span class="label label-default" ng-show="pronoun.pronounType == 'X'" tooltip="This pronoun has a list of grammatical pronouns allowing it to be parsed by a computer.">S</span>
          <span class="label label-default" ng-show="pronoun.pronounType == 'M'" tooltip="This pronoun only contains a title and a description.">NS</span>
          <button class="btn btn-info btn-sm" ng-click="removeMine(pronoun);">
            <i class="glyphicon glyphicon-minus"></i>
          </button>
        </div>
        <a ui-sref="pronouns.view({pronounId: pronoun._id})"><h4 class="list-group-item-heading" ng-bind="pronoun.pattern" ng-hide="!!pronoun.title"></h4><h4 class="list-group-item-heading" ng-bind="pronoun.title"></h4></a>
        <small class="list-group-item-heading" ng-bind="pronoun.pattern" ng-show="!!pronoun.title"></small>
      </div>
    </div>
  </div>
</section>
