<section class="row" ng-controller="UpdatePronounsController">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-12">
    <div class="list-group">
      <div ng-show="!pronouns.length" class="list-group-item" >
        <h4 class="list-group-item-heading"><i>No pronouns</i></h4>
      </div>
      <a ng-repeat="pronoun in pronouns" ui-sref="pronouns.view({pronounId: pronoun._id})" class="list-group-item">
        <h4 class="list-group-item-heading" ng-bind="pronoun.pattern"></h4>
      </a>
    </div>
  </div>
</section>
