body{
  font-size: 16px;
}
.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
@media (max-width: 768px) {
  .hideOnPhone{
    display: none;
  }
  .titleOnPhone{
    font-size: 15px;
  }
}
.bg {
  background: url('/pink.jpg') right center no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.jumbotron {
  height: 350px;
  color: white;

  background:transparent;
}


.navbar-default .navbar-nav > li > a{
  color: #727272;
}
.navbar-default .navbar-brand{
  color: #727272;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('/font/OpenDyslexic-Regular.eot?#iefix') format('embedded-opentype'),
  url('/font/OpenDyslexic-Regular.woff') format('woff'),
  url('/font/OpenDyslexic-Regular.ttf')  format('truetype');
}


@font-face {
  font-family: 'OpenDyslexic';
  src: url('/font/OpenDyslexic-Bold.eot?#iefix') format('embedded-opentype'),
  url('/font/OpenDyslexic-Bold.woff') format('woff'),
  url('/font/OpenDyslexic-Bold.ttf')  format('truetype');

  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('/font/OpenDyslexic-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('/font/OpenDyslexic-BoldItalic.woff') format('woff'),
  url('/font/OpenDyslexic-BoldItalic.ttf')  format('truetype');

  font-weight: bold;
  font-style: normal;
}


.list-group-item.active .list-group-item-text, .list-group-item.active:hover .list-group-item-text, .list-group-item.active:focus .list-group-item-text{
  color: #fdfeff;
}


